/* makes the icon smaller when not selected */
#tabs .ui-tabs-nav li {
    margin-top: 0.6em;
    font-size: 80%;
}

#tabs .ui-tabs-nav li.ui-tabs-selected,
#tabs .ui-tabs-nav li.ui-state-active {
    margin-top: 0;
    font-size: 100%;
}

/* adds an ui-icon */
#tabs .ui-tabs-nav .ui-icon {
    display: inline-block;
}